 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
    list-style: none;
}
.main-content{
    display: grid;
    height: 1000px;
    width: 90%;
    margin: 20px auto;
    grid-template-columns:300px 700px;
}
section{
    display: block;
}
.left-section{
    background-color: #242531;
    grid-column: span 1;
}
.left-content{
    padding: 1rem;
}
.profile-details{
    /* margin-top: 20px; */
    /* justify-content: center; */
    /* text-align: center; */
}
.profile{
}
.profile-image{
    display: block;
    margin: auto;
    border: 5px white solid;
    border-radius: 30%;
    width: 60%;
    /* height: 220px;s */
}
.name{
   font-size: 1.2rem;
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.02px;
   padding: 0.8rem;
    color: #f7f7f7;
}
.designation{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: #1fbfd4;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: #f7f7f7;
}
.contact-Item{
    color: #f7f7f7;
}
.social-media{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
}
.icon{
    padding-top: 2px;
    padding-right: 2px;
    color: #f7f7f7;
}
.icon-image{
    width: 20%;
}
.icon-image1{
    width: 5%;
}
.skills{
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding:1rem 0.5rem;
    /* letter-spacing: 0.02px; */
    color: #f7f7f7;
}
.skill-name{
    font-size: 0.65rem;
    font-weight: 300;
    text-align: left;
    padding-bottom: 0.5rem;
    color: #f7f7f7;
}
h3{
    letter-spacing: 0.06rem;
}
.skill-item{
    padding: 3px;
}
.progress-bar{
        border: 1px white solid;
        height: 4px;
        /* width: 90%; */
}
.right-section{
    grid-column: span 1 / span 2;
    background-color: #f7f7f7;
}
.right-main-content{
 padding: 2rem 3rem;
}

.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.5rem;
}

@media screen and (max-width:673px){
    .main-content{
        width: 90%;
        height: 1000px;
        grid-template-columns: repeat(1,1fr);
    }
}